<configuration>
	<components>
		<!-- Core services -->
		<component 
			id="core.siteservice" 
			service="CMS.Core.Service.SiteStructure.ISiteService, CMS.Core"
			type="CMS.Core.Service.SiteStructure.SiteService, CMS.Core">
		</component>
		<component 
			id="core.nodeservice" 
			service="CMS.Core.Service.SiteStructure.INodeService, CMS.Core"
			type="CMS.Core.Service.SiteStructure.NodeService, CMS.Core">
		</component>
		<component 
			id="core.sectionservice" 
			service="CMS.Core.Service.SiteStructure.ISectionService, CMS.Core"
			type="CMS.Core.Service.SiteStructure.SectionService, CMS.Core">
		</component>
		<component
			id="core.moduletypeservice"
			service="CMS.Core.Service.SiteStructure.IModuleTypeService, CMS.Core"
			type="CMS.Core.Service.SiteStructure.ModuleTypeService, CMS.Core">
		</component>
		<component 
			id="core.templateservice" 
			service="CMS.Core.Service.SiteStructure.ITemplateService, CMS.Core"
			type="CMS.Core.Service.SiteStructure.TemplateService, CMS.Core">
		</component>
		<component 
			id="core.authenticationservice" 
			service="CMS.Core.Service.Membership.IAuthenticationService, CMS.Core"
			type="CMS.Core.Service.Membership.DefaultAuthenticationService, CMS.Core">
		</component>
		<component 
			id="core.userservice" 
			service="CMS.Core.Service.Membership.IUserService, CMS.Core"
			type="CMS.Core.Service.Membership.DefaultUserService, CMS.Core">
		</component>
		<component 
			id="core.fileservice" 
			service="CMS.Core.Service.Files.IFileService, CMS.Core"
			type="CMS.Core.Service.Files.TransactionalFileService, CMS.Core">
			<parameters>
				<tempdir>#{tempDir}</tempdir>
			</parameters>
		</component>
		<component
			id="core.emailservice"
			service="CMS.Core.Service.Email.IEmailService, CMS.Core"
			type="CMS.Core.Service.Email.DefaultEmailService, CMS.Core">
		</component>
		<component 
			id="core.emailsender"
			service="CMS.Core.Service.Email.IEmailSender, CMS.Core"
			type="CMS.Core.Service.Email.SmtpNet2EmailSender, CMS.Core">
			<parameters>
				<host>#{smtpHost}</host>
        <!--<port>#{smtpPort}</port>-->
				<smtpUsername>#{smtpUsername}</smtpUsername>
				<smtpPassword>#{smtpPassword}</smtpPassword>
				<emailEncoding>#{emailEncoding}</emailEncoding>
			</parameters>
		</component>
		<component
			id="core.emailtemplateengine"
			service="CMS.Core.Service.Email.IEmailTemplateEngine, CMS.Core"
			type="CMS.Core.Service.Email.SimpleEmailTemplateEngine, CMS.Core">
		</component>
		
		<!-- Core data access services -->
		<component 
			id="core.commondao" 
			service="CMS.Core.DataAccess.ICommonDao, CMS.Core"
			type="CMS.Core.DataAccess.CommonDao, CMS.Core">
		</component>
		<component 
			id="core.sitestructuredao" 
			service="CMS.Core.DataAccess.ISiteStructureDao, CMS.Core"
			type="CMS.Core.DataAccess.SiteStructureDao, CMS.Core">
		</component>
		<component 
			id="core.userdao" 
			service="CMS.Core.DataAccess.IUserDao, CMS.Core"
			type="CMS.Core.DataAccess.UserDao, CMS.Core">
		</component>
	</components>
</configuration>
